@import "tailwindcss";


:root {
  --primary-color: #2E8B57;
  --secondary-color: #4A90A4;
  --error-color: #EF4444;
  --error-hover: #DC2626;
  --light: #F9FBFA;
  --dark: #0E1513;
  --card-dark: #182725;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.ecg-path {
  stroke: #22c55e;         
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

  animation: ecgDraw 9s linear infinite;
}

@keyframes ecgDraw {
  to {
    stroke-dashoffset: 0;
  }
}


